body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
.landing_page{
    /* background-color: #5d3d1d; */
    background-image: url(imgs/8040\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center bottom ;
    height: 90%;
    width: 100%;
    margin: 0;
    position: relative;
}

.landing_page .content{
    width: 100%;
    height: 100%;
    display: flex;
}

.content img{
    z-index: 1;
}

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: #5d3d1d;
    position: absolute;
}
.text_container{
    height: 0%;
    width: 80%;
    padding-right: 20%;
    z-index: 1;
    opacity: 1;
}
.text_container .welcome {
    font-size: 4em;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-top: 15%;
}
.text_container .name {
    font-family: 'Concert One', cursive;
    color: #fff;
    font-size: 10em;
    font-weight: 800;
    text-align: center;
    margin: 0;
}
.text_container .phrase{
    font-family: 'Grey Qo', cursive;
    color: #fff;
    font-size: 3em;
    text-align: center;
    margin: 0;

}
body > p{
    color: rgb(181, 115, 17);
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}
.menu{
    /* padding: 20px 20px 20px 20px; */
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    /* grid-column: 1fr 1fr 1fr; */
    /* gap: 10px; */
    /* background-color: #fff; */
}
.menu_card {
    background-color: #cdb693;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 600px;
    margin: 10px;
    /* padding: 0px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    text-align: center;
    overflow: hidden;
}
.menu_card h2 {
    color: #5d3d1d;
}
.menu_card span {
    font-size: x-large;
}
.menu_card img {
    width: 100%;
    height: 400px;
    /* padding: 0; */
    /* height: auto; */
    /* border-radius: 10px 10px 0 0; */
    object-fit: cover;
    /* padding-top: 10px; */
    /* margin-top: 10px; */
}
.menu_card_details {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* align-items: center; */
    /* height: 100%; */
    /* padding: 10px; */
}
.menu_card_details button {
    background-color: #342716;
    color:rgb(255, 255, 255);
    padding: 10px 20px;
    width: 85%;
    font-size: medium;
    font-weight: 700;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
}